* {
	font-family: JetBrains Mono Nerd Font;
	font-size: 13px;
	color: #ffffff;
	min-height: 0;
}
window#waybar {
	background: rgba(20, 20, 23, 0.5);
}
#custom-menu,
#custom-power,
#window,
#language,
#cpu,
#wireplumber,
#custom-weather,
#memory,
#clock {
	background-color: #181818;
	border-radius: 8px;
	margin: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border: 2px solid #272734;
}
#custom-menu {
	padding-left: 8px;
	padding-right: 12px;
}
#clock {
	color: #f5e0dc;
}
#custom-power {
	color: #bc231c;
	padding-right: 12px;
	padding-left: 8px;
	font-size: 14px;
}
